<section class="me">
  <div class="me-container">
    <div class="my_pic">
      <img src="/my_pic.png" alt="Picture of Namuunaa"/>
    </div>
    <div class="me-text">
      <h1>Hi, I'm Namuunaa! 👋</h1>
      <p class="intro">
        I'm a rising senior at NYU majoring in Computer Science with a minor in Business.
        <br><br>
        I’m in a season of exploration right now — testing paths, chasing sparks, and trying to figure out what really feels right. If you have ideas, drop me a note in the contact section.
        <br><br>
        Thanks for visiting my portfolio ✨
      </p>
      <a href="/contact" class="contact-button">Say Hello!</a>
    </div>
  </div>
</section>
