<section class="work-experience">
  <h2>Work Experience</h2>
  <div class="timeline">
    <!-- Job 1 -->
    <div class="timeline-item">
      <div class="timeline-dot"></div>
      <div class="timeline-content">
        <h3>Business Analyst Intern</h3>
        <h4>Mobicom Corporation</h4>
        <p class="time">June 2025 – Present</p>
        <ul>
            <li>Collaborated with cross-functional teams to gather business requirements and translate them into actionable insights.</li>
            <li>Participated in meetings with stakeholders, effectively presenting data-driven recommendations.</li>
            <li>Supported project planning by monitoring key performance indicators and highlighting potential risks or opportunities.</li>
        </ul>
      </div>
    </div>

    <!-- Job 2 -->
    <div class="timeline-item">
      <div class="timeline-dot"></div>
      <div class="timeline-content">
        <h3>Social Media Manager</h3>
        <h4>Calin Clothing Brand, Aora Diamonds, Rougeroom</h4>
        <p class="time">June 2025 – Present</p>
        <ul>
            <li>Planned and executed social media content on Instagram including Story and Reels that aligned with brand aesthetics</li>
            <li>Developed monthly insights reports to track progress by analyzing performance metrics (likes, reach, shares, saves) to guide future content strategies.</li>
            <li>Assisted with photo shoots to ensure consistent brand messaging.</li>
            <li>Increased follower engagement by 12%.</li>
        </ul>
      </div>
    </div>

    <!-- Job 3 -->
    <div class="timeline-item">
      <div class="timeline-dot"></div>
      <div class="timeline-content">
        <h3>Library Technology Assistant</h3>
        <h4>New York University</h4>
        <p class="time">Sep 2023 – May 2024</p>
        <ul>
            <li>Assisted with technology setup and maintenance, including installing hardware preparing manuals for Sony and MaxHub monitors.
            </li>
            <li>Designed promotional materials for library events.</li>
            <li>Got an “Outstanding Worker Award”.</li>
        </ul>
      </div>
    </div>
    
  </div>
</section>
