<section class="work-experience">
  <h2>Work Experience</h2>
  <div class="timeline">
    <!-- Job 1 -->
    <div class="timeline-item">
      <div class="timeline-dot"></div>
      <div class="timeline-content">
        <h3>Library Technology Assistant</h3>
        <h4>New York University</h4>
        <p class="time">Sep 2023 – May 2024</p>
        <ul>
            <li>Assisted with technology setup and maintenance, including installing hardware preparing manuals for Sony and MaxHub monitors.
            </li>
            <li>Designed promotional materials for library events.</li>
            <li>Got an “Outstanding Worker Award”.</li>
        </ul>
      </div>
    </div>

    <!-- Job 2 -->
    <div class="timeline-item">
      <div class="timeline-dot"></div>
      <div class="timeline-content">
        <h3>Tutoring</h3>
        <p class="time">Feb 2023 – May 2024</p>
        <ul>
            <li>Provided one-on-one mathematics tutoring with personalized lesson plans to an 8th-grade student, significantly improving their understanding and performance.</li>
        </ul>
      </div>
    </div>

    <!-- Job 3 -->
    <div class="timeline-item">
        <div class="timeline-dot"></div>
        <div class="timeline-content">
            <h3>Front Desk Assistant</h3>
            <h4>Student Life Office at NYU</h4>
            <p class="time">Sep 2022 – May 2023</p>
        <ul>
            <li>Directed students and visitors to appropriate university resources and staff, ensuring a positive and efficient experience.</li>
            <li>Assisted with administrative tasks such as answering phones and taking messages.</li>
        </ul>
        </div>
    </div>
    
  </div>
</section>
